#Optional to require auth in get
# LOAD_USER=
# LOAD_PASSWORD=

# Path where your project is located (where commands will run)
PROJECT_PATH=
 
# Name of your json instructions file
#
#INSTRUCTIONS_FILE=

# Where to store the deployment logs
# LOGS_PATH=

# Telegram Configuration
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
#Optionsl
#TELEGRAM_THREAD_ID=

# Security (Required for the webhook)
SECURITY_TOKEN=

# Webhook Method (GET or POST)
WEBHOOK_METHOD=
