# Optional to require auth in get
# LOAD_USER=
# LOAD_PASSWORD=

# Path where your project is located (where commands will run)
PROJECT_PATH=

# Required in case to use YML
#YQ_PATH=./yq_linux_amd64
 
# Name of your json instructions file, relative to the deploment script
#INSTRUCTIONS_FILE=deploy.yml

# Where to store the deployment logs
# LOGS_PATH=

# Telegram Configuration
TELEGRAM_NOTIFICATIONS=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
# Optional for threads
TELEGRAM_THREAD_ID=

# Security (Required for the webhook)
SECURITY_TOKEN=

# Webhook Method (GET or POST)
WEBHOOK_METHOD=POST
